
.navbar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
}

.nav-link{
    text-decoration: none;
    color: inherit;
}

.hero{
    background-image: url("../assets/herobg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.herotitle{
    font-size: 36px;
    font-weight: 800;
}
.herodesc{
    color: #DBDBDB;
    font-size: 20px !important;
    font-weight: 600;
    padding-top: 5pt ;
    padding-bottom: 10pt;
}
.tombolhero{
    background-color: #6558F5;
    color:#F5F5F5;
    font-weight: 700;
}
.tombolhero:hover{
    background-color: #7569f1 !important;
}
.floatsec{
    position: relative;
}
.herosec .icon-boxes {
    padding-bottom: 60px;
  }


.herosec .icon-box {
    padding: 60px 30px;
    position: relative;
    width: 610px;
    height: 163px;
    background: #F9F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
  }

  @media (min-width: 1200px) {
  .hero .icon-boxes:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(50% + 20px);
    background-color: #fff;
  }}

  .hero {
    width: 100%;
    position: relative;
    padding-top: 46px;
  }

.icon-box{
display: block;
  margin-left: auto;
  margin-right: auto;
}